<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" alt=""width="auto" height="45"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <!--Dropdow Categorias-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Veículos</a></li>
              <li><a class="dropdown-item" href="#">Eletrônicos</a></li>

            </ul>
          </li>

        </ul>
        
        <!--SearchBar-->
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <!-- Button Modal Login -->
        <!-- <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#login">
            <i class="bi bi-person-circle"></i>
        </button> -->
      </div>
    </div>
  </nav>


  <!-- Modal Login-->
  <!-- <div class="modal" id="login">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Entrar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite seu Email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" placeholder="Digite sua Senha" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-login" float="right">Entrar</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn-fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn-cadastrar btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->