<div class="container">
    <div class="card col-md-6 offset-md-3 mt-5">
        <div class="card-header">
            Entrar
        </div>
        <div class="card-body">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" email>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Campo obrigatório.</div>
                        <div *ngIf="f.email.errors.email">Email precisa ser valido</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Campo obrigatório.</div>
                        <div *ngIf="f.password.errors.minlength">No mínimo 6 dígitos</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary">Entrar</button>
                    <a routerLink="/register" class="btn btn-link">Cadastrar</a>
                </div>
            </form>
        </div>
    </div>
</div>