
<app-header></app-header>
<div class="container">
    <div class="card mx-auto">
      <div class="card-header">
        <h3>Login</h3>
      </div>
        <div class="card-body">
          
            <!-- <form> -->
                <div class="form-floating mb-3"> 
                  <input [(ngModel)]="user.email" name="user" id="email" type="text" class="form-control"  placeholder="" aria-describedby="emailHelp">
                  <label for="Email" class="form-label">Email</label>
                 
                  
                </div>
                <div class="form-floating mb-3">
                  <input [(ngModel)]="user.senha" type="password" class="form-control" id="senha">
                  <label for="senha" class="form-label">Senha</label>
                  
                </div>
                
                <!-- Button Login --> 
              <!-- </form> -->

              <button type="submit" class="btn btn-primary btn-lg btn-login" (click)="fazerLogin()">Entrar</button>


              
              <div class="card-footer">
                <div class="links">
                  <a routerLink="/cadastro" class="text-info">Registrar-se.</a><br>
                  <a routerLink="/recuperar" class="text-info">Esqueceu sua senha?</a>
                </div>

              </div>
              
                
                
          


                   
        </div>
      </div>
</div>
