
.card {
    
    margin-top: 200px;
    max-width: 700px;
    
    
}

/* .card-body{
    background-color: #E7E9EB;
} */
.recuperar{
    text-align: right;
}
.btn-login{
    width: 100%;
    margin-bottom: 10px;
}
.links{
    text-align: right;
    
}
a{
    text-decoration: none;
}

.card-header{
    text-align: center;
    background-color: #0275d8;
    color: white;
}
/* .card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
} */