
.card {
    height: 430px;
    margin-top: 250px;
    background-color:#f3f3f3;
    
}


.social-btn{
    font-weight: 100;
    color:white;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.facebook-btn{  background-color:#3C589C; }
.google-btn{ background-color: #DF4B3B; }
.recuperar{
    text-align: right;
}
.btn{
    width: 100%;
}
.btn-login{
    width: 100%;
    margin-bottom: 10px;
}
.links{
    text-align: right;
    
}
a{
    text-decoration: none;
}

.card-header{
    text-align: center;
    background-color: #0275d8;
    color: white;
}
/* .card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
} */

